div#container-square1 {
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
}

div#red1 {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    background-color: red;
}

div#red2 {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    background-color: red;
}

div#container-square2 {
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
}

div#red3 {
    width: 50%;
    height: 50%;
    position: absolute;
    right: 50%;
    background-color: red;
}

div#red4 {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: red;
}